<div>
    <header>
        <h1>Catálogo de Productos existentes</h1>
    </header>
    
    <section class="listCollection">
        {{#each products}}
        <ul>
            <h2>Producto Nº{{increment @index}} </h2>
            <li><b>Nombre: </b> {{this._doc.title}}</li>
            <li><b>Descripción: </b> {{this._doc.description}}</li>
            <li><b>Precio: </b> {{this._doc.price}}</li>
            <li><b>Código: </b> {{this._doc.code}}</li>
            <li><b>Stock: </b> {{this._doc.stock}}</li>
            <li><b>Categoría: </b> {{this._doc.category}}</li>
        </ul>
        <button id="add_button_to_cart" type="button" onclick="redirectToLogin()">Agregar al carrito</button>
        {{/each}}
    </section>
    <footer class="pageFooter">
        {{#if hasPrevPage}}
        <a href="/products?pageQuery={{prevPage}}" class="pageBreak">Anterior</a>
        {{/if}}
        <label class="pageFoot">Página {{page}} de {{totalPages}} </label>
        {{#if hasNextPage}}
        <a href="/products?pageQuery={{nextPage}}" class="pageBreak">Siguiente</a>
        {{/if}}
    </footer>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/indexSimple.js"></script>